body {
  color: #ffffff;
  transition: color 0.5s ease-in-out;
  font-family: 'Open Sans', sans-serif;
}


.clicked{
  color:#7f8c4d;
}

.btn{
  cursor: pointer;
}


.form,
.greetings {
  display: none;
}

.input-toDo {
  padding: 10px;
  margin: 1px;
}

.showing {
  display: block;
  text-align: center;
}

.js-title {
  font-size: xxx-large;
}

.bgImage{
  animation: fadeIn 0.5s linear;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  z-index: -1;
  position: absolute;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 10px 20px;
}

.item-form,
.item-greetings { 
  grid-column: 2/2;
  grid-row: 3/3;

}

.item-clock  {
  grid-column: 2/2;
  grid-row: 2/2;
  text-align: center;
}


.item-toDo {
  grid-column: 2/2;
  grid-row: 4/5;
  text-align: center;
}

.item-bg {
  grid-column: 1/1;
  grid-row: 3/3;
}